@using TrianglePegGameSolver.Web.Features.Navigation.Store
@inject NavigationManager _navigationManager
@inject IDispatcher _dispatcher

@if (NewTab)
{
    <a href="@Href" class="text-gray-300 hover:bg-gray-700 hover:text-white select-none @(IsBlock ? "block" : "") px-3 py-2 rounded-md text-sm font-medium" target="_blank">@Text</a>
}
else
{
    <a href="javascript: void(0)" @onclick="Click" class="text-gray-300 hover:bg-gray-700 hover:text-white select-none @(IsBlock ? "block" : "") px-3 py-2 rounded-md text-sm font-medium">@Text</a>
}

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public bool IsBlock { get; set; }

    [Parameter]
    public bool NewTab { get; set; } = false;

    private void Click()
    {
        _navigationManager.NavigateTo(Href);
        _dispatcher.Dispatch(new NavigationAction {Open = false});
    }

}